body {
margin:auto;
background:radial-gradient(black , silver);
    
}

h1{
   text-align:center; 
   font-family:cursive;
   color:white;
   text-shadow:5px 2px 5px black;
}

#tic_tac_box{
   margin:auto;
   width:258px;
   height:258px;
   border:1px solid grey;
   display:flex;
   flex-wrap:wrap;
   background-color:black;
}


input{
   width:80px;
   height:80px;
   border:none;
   font-size:50px;
   margin:3px 3px 3px 3px;
    
}

#outtput{
   margin:auto;
   text-align:center; 
   width:200px;
   font-size:25px;
   color:black;
   background-color:white;
   border:1px transparent ;
   border-radius:5px;
}

#restartButton{
   margin:auto;
   height: 100px;
   width:200px;
   font-size:20px;
   border: 1px solid #010c29;
   border-radius:10px;
   background:linear-gradient(black , gold , silver);
   
}

